{% extends "navbar.html" %} {% block content %}
<div class="contact">
  <div class="contactUser">
  <img src="/static/dikumon/150.png" alt="Avatar" class="image2">
  <hcontact class="contactText">Creative Director : Nicholas Adam Wood - sfx355@alumni.ku.dk</hcontact>
  </div>
  <div class="contactUser">
  <img src="/static/dikumon/381.png" alt="Avatar" class="image2">
  <hcontact class="contactText">Project Manager : Ludvig Viktor Lindmark - hsm508@alumni.ku.dk</hcontact>
  </div>
  <div class="contactUser">
  <img src="/static/dikumon/286.png" alt="Avatar" class="image2">
  <hcontact class="contactText">Lead Producer : Martin Grønlykke Wassmann - bxq225@alumni.ku.dk</hcontact>
  </div>
</div>
{% endblock content %}
